h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

input[type=text] {
  border: 1px solid #BCBCBC;
  border-radius: 6px;
  padding: 8px 10px;
  width: -webkit-fill-available;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 4px #BCBCBC
}

a {
  text-decoration: none;
}

.App {
  height: 100vh;
  padding: 20px;
}

.App-title {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Button {
  background-color: #3f51b5;
  border: 1px solid;
  border-radius: 6px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  padding: 10px 12px;
}

.Button:hover {
  background-color: #008CBA;
}

.Button.mgrght {
  margin-right: 10px
}

.List-Cont {
  display: flex;
  flex-wrap: wrap;
}

.Task-Group-Form-Cont {
  border: 1px solid #DEDEDE;
  border-radius: 6px;
  max-width: 300px;
  padding: 10px;
}

form.Task-Group-Form input[type=text] {
  margin: 10px;
}

.Task-Group-Item-Cont {
  border: 1px solid #DEDEDE;
  border-radius: 6px;
  margin: 0 10px 10px 0;
  min-width: 300px;
  padding: 10px;
}

.Task-Group-Item-Cont span {
  display: inline-block;
  padding: 10px 0;
}

.Tgitem-Head a:first-child {
  margin-right: 10px
}

.Tgitem-Head {
  border-bottom: 1px solid #BCBCBC;
  margin-bottom: 10px;
}

.Tgitem-Head .Task-Group-Form {
  margin-bottom: 10px;
}

.Btn-Cont {
  text-align: right;
}

.Task-Group-Add-Btn-Cont {
  padding: 10px;
}
.Task-List-Item-Cont {
  min-height: 10px;
}

.Task-Item-Cont {
  background-color: #FFF;
  border: 1px solid #DEDEDE;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #DEDEDE;
  margin-bottom: 10px;
  padding: 10px;
}

.Task-Item-Cont.Completed {
  background-color: #BABABA;
}

.Task-Item-Cont a {
  text-align: right;
}

.Task-Item-Cont .Btn-Cont a {
  margin-right: 10px;
}

.Task-Item-Cont .Btn-Cont a:last-child {
  margin-right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.List {

}
